/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$blue: #4294f0;
$red:  #ff1d0c;
$green: #468847;

@import 'bourbon';
@import 'forms';
@import 'tables';
@import 'code';


html, body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: $helvetica;

  h1, h2, h3, h4, h5 {
    font-family: 'Changa One', arial, sans-serif;
    font-weight: normal;
  }
}

body {
  background: url('/assets/background.png') top left repeat;
}

header {
  margin-bottom: 30px;
}

#flash {
  margin: 18px;
  padding: 8px 35px 8px 14px;
  border: 1px solid;
  @include border-radius(4px);

  &.flash_alert {
    color: #b94a48; 
    background-color: #f2dede;
    border-color: #eed3d7;
  }

  &.flash_notice {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
}

.container {
  width: 600px;
  margin: 0 auto;

  #main-content {
    background: #fff;
    padding: 20px 10px;
    margin-bottom: 50px;
    @include box-shadow(0 2px 7px rgba(0, 0, 0, 0.4));
    @include border-radius(4px);
  }
}
