<h2>Twitter Username: "<%= @authorization.username %>"</h2>

<p>How do I get my tweets?</p>

<p><strong>Using cURL</strong></p>
<pre class="curl">
<strong>curl</strong> -i "https://getmytweets.herokuapp.com/my_tweets/<%= @authorization.username %>"
  -u "one_of_my_api_keys:"
</pre>

<span class="highlight"><strong>Note:</strong> the ':' is required after your API key</span>

<pre class="response">
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
</pre>


<p><strong>Using jQuery</strong></p>
<pre class="jquery">
$.ajax({
  url: "https://getmytweets.herokuapp.com/my_tweets/OregonGridiron",
  dataType: "json",
  beforeSend: function(req) {
    req.setRequestHeader("Authorization", "Basic base64-encoded-api-key");
    // API Key must include ':' after, and be base64 encoded
  },
  crossDomain: true,
  success: function(data) {
    console.log(data); // Your data-handling here
  }
});
</pre>

<span class="highlight">
  <strong>Note:</strong> the ':' is required after your API key, and the whole string
  must be base64 encoded. <%= link_to 'Available library', 'http://ostermiller.org/calc/encode.html' %>
</span>
