<h2>Twitter Username: "<%= @authorization.username %>"</h2>

<p>How do I get my tweets?</p>

<p><strong>Using cURL</strong></p>
<pre class="curl">
<strong>curl</strong> -i "https://getmytweets.herokuapp.com/my_tweets/<%= @authorization.username %>" \
  -u "one_of_my_api_keys:" \
</pre>

<p>
  <span class="highlight"><strong>Note:</strong> the ':' is required after your API key</span>
</p>

<pre class="response">
HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
</pre>


<p><strong>Using jQuery</strong></p>
<pre class="jquery">
$.ajax({
  url: "https://getmytweets.herokuapp.com/my_tweets/OregonGridiron",
  dataType: "json",
  beforeSend: function(req) {
    req.setRequestHeader("Authorization", "Basic base64-encoded-api-key");
    // API Key must include ':' after, and be base64 encoded
  },
  crossDomain: true,
  success: function(data) {
    console.log(data); // Your data-handling here
  }
});
</pre>

<p>
  <span class="highlight">
    <strong>Note:</strong> the ':' is required after your API key, and the whole string
    must be base64 encoded.
  </span>
</p>
<%= link_to 'Javascript library to base64 encode', 'http://ostermiller.org/calc/encode.html' %>

<h2>Options</h2>

<p>You can pass any parameters using the <code>options</code> parameter.</p>

<p>
  All available parameters are listed on the
  <%= link_to 'Twitter API Reference', 'https://dev.twitter.com/docs/api/1.1/get/statuses/home_timeline' %>.
</p>

<p>
  For example, to specify the number of tweets retrieved, use the <code>count</code> parameter. If you were
  using <strong>cURL</strong>, you would add:
</p>

<pre>-d "options[count]=10"</pre>

<p>If using <strong>jQuery</strong>, you would need to add a <code>data</code> option in your <code>.ajax</code> call.</p>

<pre>data: { "options[count]": "10" }</pre>
