<!DOCTYPE html>
<html>
<head>
  <title>MyTweets</title>
  <link href="http://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <h1>My Tweets</h1>
      <h2>Get all of your Tweets in JSON, no huss, no fuss</h2>
    </div>
  </header>

  <section class="container">
    <div id="main-content">
      <%= yield %>
    </div>
  </section>

</body>
</html>
